.List {
  width: 400px;
  height: 710px;
  margin-left: 180px;
  margin-top: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 22px;
  padding: 30px;
}
.list-group-item:hover {
    background-color: rgb(248, 244, 244);
}
.but {
  margin-left: auto;
  display: flex;
  margin-right: auto;
  width: 100px;
  justify-content: center;
  padding: 10px;
  margin-top: 5px;
  background: none;
  font-size: 22px;
  color: orange;
  border: none;
  cursor: pointer;
}
.but:hover {
  background-color: rgb(173, 146, 97);
}
.List2 {
  width: 60%;
  height: 710px;
  /* margin-left: 180px; */
  /* margin-top: 40px; */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* float: right; */
  margin-right: 107vh;
  margin-left: 600px;
  margin-top: -74vh;
  font-size: 22px;
  padding: 30px;
}

.row .group1 {
  margin: 10px;
  width: 600px;
  height: 100px;
  position: absolute;
}
.row {
  margin: 0;
}
.row .group2 {
  margin: 10px;
  /* display: grid; */
  width: 650px;
  /* float: right; */
  margin-left: 39rem;
  /* position: absolute; */
  margin-top: 1vh;
  /* height: 400px; */
}
.group3 {
  margin: 10px;
  /* width: 650px; */
  margin-top: 6vh;
}
.group4 {
  margin: 10px;
  /* display: grid; */
  /* width:800px ; */
  /* float: right; */
  margin-left: 2rem;
  left: 60%;
  position: absolute;
  margin-top: 6vh;
}

.but1 {
    margin-left: -8px;
  display: flex;
  /* margin-right: auto; */
  /* width: 100px; */
  justify-content: center;
  padding: 10px;
  /* margin-top: 5px; */
  background: none;
  font-size: 22px;
  color: orange;
  border: none;
  cursor: pointer;
}
.but1:hover {
  background-color: rgb(173, 146, 97);
}