.main-header {
  display: flex;
  position: relative;
  margin-top: 2vh;
  margin-left: 20vh;
}
.main-header h1 {
  margin: 10px;
}
.main-header .search {
  margin: 10px;
  margin-right: -1px;
  padding: 15px;
  margin-top: 5px;
  font-size: 18px;
  color: #fff;
  background-color: #f55b46;
  border: none;
  height: 50px;
  transition: background 1s;
}
.search:hover {
  background-color: #000;
}
.main-header .login {
  margin: 10px;
  margin-top: 5px;
  font-size: 18px;
  padding: 15px;
  color: #fff;
  background-color: #f55b46;
  border: none;
  height: 50px;
  transition: background 1s;
}
.login:hover {
  background-color: #000;
}
.main-header h4 {
  margin: 10px;
  margin-top: 20px;
  font-size: 15px;
}
.main-header .input-search {
  padding: 10px;
  width: 40%;
  margin-left: 10vh;
  height: 50px;
  margin-top: 5px;
}
#drop,
#drop1 {
  display: flex;
  height: 20px;
  margin-top: 3vh;
  border: none;
}
