.product {
  display: inline-block;
  margin: 20px;
}
.each {
  height: 410px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}
.each:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}
.card {
  border: none;
}
.button1 {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 25px;
  background-color: grey;
  border: none;
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}
.button1:hover {
  background-color: rgb(159, 147, 147);
}
.prev-page:hover {
  transform: translateX(-20px);
  transition: transform 0.5s ease-in-out;
}
.pagination .show {
  position: absolute;
  bottom: 0;
  top: -2%;
  transform: translateY(-50%, -50%);
  right: 0;
  margin: 20px;
  transition: 0.1s;
}
.pagination .show1 {
  position: absolute;
  transform: translateY(-50%, -50%);
  margin: 20px;
  top: 0;
  left: 50%;
  margin-left: -790px;
  right: 79rem;
}
